#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;

}
#lezioni {
  text-align: center;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

.container.grey {
  /* background-color: #ffdddd; */
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.container h1{
  margin-bottom: 20px;
}

.container h3{
  margin: 15px 0;
}

#lezioni, #steps {
  margin-bottom: 50px;
}

/* Tutte le colonne della sezione why */
#why [class*="col-"]{
  margin-bottom: 50px;
}

#why hr{
  margin-top:15px;
}

/* Padding testo */
#lezioni [class*="col-"],
#steps [class*="col-"],
#why [class*="col-"]{
  padding: 0 10px;
}



/* DEBUGGG */
body{
  /* content:"Debug: versione Desktop"; */
  /* background-color: rgba(0,0,255,0.1); */
}

/* Regole formattazione versione tablet */
@media screen and (max-width: 991px) {
  body{
    /* content:"Debug: versione Tablet"; */
      /* background-color: rgba(0,255,0,0.1); */
  }

  /* Margine fra le sezioni */
  #lezioni [class*="col-"],
  #steps [class*="col-"]{
    margin-bottom: 50px;
  }

  /* Padding testo */
  #lezioni [class*="col-"],
  #steps [class*="col-"],
  #why [class*="col-"]{
    padding: 0 25px;
  }

}

@media screen and (max-width: 767px) {
  body{
    /* content:"Debug: versione cellulare"; */
    /* background-color: rgba(255,0,0,0.1); */
  }

/* ****DEBUGGG */
